<div id="home">
<div class="row">

  <!-- INFLUENCERS -->
  <div id="companies" class="col-12 margin-bottom-lg">
    <table>
      <% @enterpreneurs.each do |user| %>
        <tr>
          <td><div class="image"><%= image_tag user.user.avatar %></div></td>
          <td class="width-100">
            <div class="name"><%= user.user["first_name"] %> <%= user.user["last_name"] %></div>
          </td>
        </tr>
      <% end -%>
    </table>


    <%= will_paginate @enterpreneurs %>
  </div>



</div>
</div>
