<div id="home">
<div class="row">

  <!-- INFLUENCERS -->
  <div id="influencers" class="col-12 margin-bottom-lg">
    <table>
      <% @influencers.each do |user| %>
        <tr>
          <td><div class="image"><%= image_tag user.avatar %></div></td>
          <td class="width-100">
            <div class="name"><%= user["first_name"] %> <%= user["last_name"] %></div>
          </td>
        </tr>
      <% end -%>
    </table>


    <%= will_paginate @influencers %>
  </div>
</div>
</div>
