<div id="home">
  <div class="row">
    <!-- INFLUENCERS -->
    <div id="projects" class="col-12 margin-bottom-lg">
      <table>
        <% @projects.each do |project| %>
          <tr>
            <td><div class="image"><%= image_tag project.avatar %></div></td>
            <td class="width-100">
              <%= link_to(project) do %>
                <div class="name"><%= project["name"] %></div>
              <% end -%>
            </td>
          </tr>
        <% end -%>
      </table>
      <%= will_paginate @projects %>
    </div>
  </div>
</div>
