<div id="company">
  <h2><%= @company[:name] %></h2>
  <table>
    <tbody>
      <tr>
        <td class="image-wrapper">
          <div class="image"><%= image_tag @company.avatar %></div>
        </td>
        <td class="content width-100">
          <div class="description"><%= @company[:vat_number] %></div>
          <div class="description"><div class="link"><%= link_to "#{@company["website"]}", "#{@company["website"]}" %></div></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
