$enterpreneurs-color: #057cbc;
$enterpreneurs-color-hover: #0e9bcb;

#company {
  .subtitle {
    color: $enterpreneurs-color;
  }

  .description {
    margin-bottom: 15px;
  }

  .image-wrapper {
    vertical-align: top;
  }

  .link a{
    color: $enterpreneurs-color;
  }

  .link a:hover{
    color: #555;
  }
}
