// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$enterpreneurs-color: #2aadb8;
$enterpreneurs-color-hover: #5db7b2;
$projects-color: #46b269;
$projects-color-hover: #6ec570;
$influencers-color: #b246a9;
$influencers-color-hover: #c56eb8;

#sign-up {
  max-width: 800px;
  margin-left:auto;
  margin-right: auto;
  background: #FFF;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 0 4px 0 #AAA;
}

#companies {
  min-height: 200px;

  .pagination {
    background: transparent;
    cursor: default;
    justify-content: center;
    /* self-clearing method: */ }
    .pagination a, .pagination span, .pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .pagination .current {
      font-style: normal;
      font-weight: bold;
      background: $enterpreneurs-color;
      color: white;
      border: 1px solid $enterpreneurs-color; }
    .pagination a {
      text-decoration: none;
      color: $enterpreneurs-color;
      border: 1px solid $enterpreneurs-color; }
      .pagination a:hover, .pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .pagination .page_info {
      background: $enterpreneurs-color;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .pagination {
      height: 1%; }
    *:first-child + html .pagination {
      overflow: hidden;
  }
}

#influencers {
  min-height: 200px;

  .pagination {
    background: transparent;
    cursor: default;
    justify-content: center;
    /* self-clearing method: */ }
    .pagination a, .pagination span, .pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .pagination .current {
      font-style: normal;
      font-weight: bold;
      background: $influencers-color;
      color: white;
      border: 1px solid $influencers-color; }
    .pagination a {
      text-decoration: none;
      color: $influencers-color;
      border: 1px solid $influencers-color; }
      .pagination a:hover, .pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .pagination .page_info {
      background: $influencers-color;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .pagination {
      height: 1%; }
    *:first-child + html .pagination {
      overflow: hidden;
  }
}

#projects {
  min-height: 200px;

  .pagination {
    background: transparent;
    cursor: default;
    justify-content: center;
    /* self-clearing method: */ }
    .pagination a, .pagination span, .pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .pagination .current {
      font-style: normal;
      font-weight: bold;
      background: $projects-color;
      color: white;
      border: 1px solid $projects-color; }
    .pagination a {
      text-decoration: none;
      color: $projects-color;
      border: 1px solid $projects-color; }
      .pagination a:hover, .pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .pagination .page_info {
      background: $projects-color;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .pagination {
      height: 1%; }
    *:first-child + html .pagination {
      overflow: hidden;
  }
}

.sign-up-section{
  table {
    tbody{
      tr {
        td{
          padding: 15px 10px 0px 10px;
        }
      }
    }
  }
}


