// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#sign-up {
  width: 600px;
  margin-left:auto;
  margin-right: auto;
  background: #FFF;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 0 4px 0 #AAA;
}
